<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>进度列表</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__ROOT__/Public/index/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__ROOT__/Public/index/assets/css/admin.css">
<script src="__ROOT__/Public/index/assets/js/jquery.min.js"></script>
<script src="__ROOT__/Public/index/assets/js/app.js"></script>
</head>
<body>
</head>

<body>
<include file="Common:head"/>

<div class="am-cf admin-main"> 

<include file="Common:left"/>
<div class="admin-biaogelist">

    <div class="listbiaoti am-cf">
      <ul class="am-icon-volume-up">售后信息管理</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 进度列表 > <a href="{:U('index/main')}">首页</a></dl>
    </div>

    <form class="am-form am-g" action="{:U('jinduliebiao')}" method="post">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
              <tr class="am-success">
                <th class="table-title">用户名</th>
                <th class="table-type">订单名称</th>
                <th class="table-date am-hide-sm-only">申请时间</th>
                <th class="table-date am-hide-sm-only">申请进度</th>
              </tr>
            </thead>
            <tbody>
            <volist name="re" id="er">
             <tr>
                <td>{$er.uid}</td>
                <td>{$er.name}</td>
                <td class="am-hide-sm-only">{$er.time|date="Y-m-d H:i:s",###}</td>
                <td class="am-hide-sm-only">{$er.status}</td>
              </tr>
            </volist>            
            </tbody>
          </table>
          <div class="am-btn-group am-btn-group-xs">
            </div>
        <hr />
        </form>
 
<div class="foods">
      <ul>标记后台管理系统</ul>
      <dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>    
    </div>
</div>
</div>
</div>
</body>
<script src="__ROOT__/Public/index/assets/js/amazeui.min.js"></script>
</html>