<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>添加收货地址</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__ROOT__/Public/index/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__ROOT__/Public/index/assets/css/admin.css">
<script src="__ROOT__/Public/index/assets/js/jquery.min.js"></script>
<script src="__ROOT__/Public/index/assets/js/app.js"></script>
</head>
<body>
</head>

<body>
<include file="Common:head"/>

<div class="am-cf admin-main"> 

<include file="Common:left"/>

<div class=" admin-content">

<div class="admin-biaogelist">
  
    <div class="listbiaoti am-cf">
      <ul class="am-icon-users"> 添加收货地址</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 添加收货地址 > <a href="{:U('index/main')}">首页</a></dl>

      
      
    </div>
  
    <div class="fbneirong">
      <form class="am-form" enctype="multipart/form-data" action="{:U('shouhuotianjia')}" method="post">
        <div class="am-form-group am-cf">
          <div class="zuo">用户名:</div>
          <div class="you">
            <input type="text" name="username" class="am-input-sm" id="doc-ipt-email-1" placeholder="输入用户名...">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">地址:</div>
          <div class="you">
            <input type="text" name="address" class="am-input-sm" id="doc-ipt-pwd-1" placeholder="输入收货地址...">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;">
              <button type="submit" class="am-btn am-btn-success am-radius">添加</button>&nbsp;  &raquo; &nbsp; <button type="reset" class="am-btn am-btn-secondary am-radius">重置</button>
          </div>
        </div>
      </form>
    </div> 
 <div class="foods">
      <ul>标记后台管理系统</ul>
      <dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>    
    </div>
</div>
</div>
</div>
<script src="__ROOT__/Public/index/assets/js/amazeui.min.js"></script>
</body>
</html>